@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #f3f3f3;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #333;
    font-family: 'Cinzel', serif;
    font-size: 2.5em;
    margin: 0;
}

header h2 {
    color: #777;
    font-size: 1.2em;
    margin-top: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 10px 0 0;
}

nav ul li {
    margin: 0 15px;
}

.potion {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.potion:hover {
    transform: scale(1.2);
}

section {
    padding: 60px 20px;
    text-align: center;
    background: #ffffff;
    margin: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    display: none; /* Initially hide all sections */
}

.content {
    position: relative;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

section h2 {
    color: #333;
    font-family: 'Cinzel', serif;
    font-size: 2em;
    margin-bottom: 20px;
}

section p, section ul {
    font-size: 1.1em;
    z-index: 1;
    position: relative;
    color: #555;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    margin: 15px 0;
}

footer {
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 1em;
    color: #777;
}

/* Show the section when a potion is clicked */
:target {
    display: block;
}
