/* General styling */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    overflow-y: auto; /* Ensure the content is scrollable */
    background: #000;
}

#background-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    background: black;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.overlay {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

header {
    color: white;
    padding: 2em 0;
}

header h1 {
    margin: 0;
    font-family: 'Cinzel', serif;
    font-size: 3em;
    color: #ff00ff; /* Purple for emphasis */
}

header h2 {
    margin: 0;
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    color: #ff00ff; /* Purple for emphasis */
}

nav {
    margin: 2em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #ff00ff; /* Purple for emphasis */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.section {
    background: rgba(0, 0, 0, 0.8); /* Dark background */
    padding: 2em;
    border-radius: 10px;
    margin: 1em 0;
    width: 80%;
    color: white;
}

h2 {
    color: #ff00ff; /* Purple for emphasis */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: rgba(0, 0, 0, 0.8); /* Dark background */
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 4px;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    z-index: 100;
}
